<ion-header>
  <ion-toolbar color="primary" class="p1">
    <ion-title>Sarah l'indécise</ion-title>
    <ion-button (click)="logout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-wrapper">
    <ion-button (click)="daysSince()" size="large">
      <ion-icon  name="calendar-outline" ></ion-icon>
    </ion-button>

    <ion-button (click)="roulette()" size="large">
      <ion-icon  name="aperture-outline" ></ion-icon>
    </ion-button>
  
    <ion-button (click)="calc()" size="large">
      <ion-icon  name="calculator" ></ion-icon>
    </ion-button>

    <ion-button (click)="video()" size="large">
      <ion-icon  name="play-outline" ></ion-icon>
    </ion-button>

    <ion-button (click)="gymProgression()" size="large">
      <ion-icon name="body-outline"></ion-icon>
    </ion-button>

  </div>
</ion-content>